# Class 01 : Recap previous Details

## 1) Print method

In [ ]:
text = "Hello world" # ประกาศตัวแปล

**Normal Print**

In [ ]:
print("This is the first program:", text)

In [ ]:
print("This is the first program:" + text)
# NOTE: การใช้ (+) จะใช้กับข้อมูลประเภท int, float ไม่ได้, ทำให้ต้องแปลงค่าเป็นstr()ก่อน ดูตัวอย่างเพิ่มเติมได้ที่ Example 1.1

In [ ]:
print("This is the first program.")
print(text)

**F-string Print**

In [ ]:
print(f"This is the first program: {text}")

In [ ]:
print("This is the first program: {}".format(text))

## 2) Varibles

**int = Integer** = จำนวนเต็ม

In [ ]:
number = 1
print(type(number))

**str = String** = ตัวอักษร

In [ ]:
first_name = "Khotchasan"
print(type(first_name))

**float = Decimal Number** = ทศนิยม

In [ ]:
number = 1.0
print(type(number))

**bool = Boolean** = ตรรกศาสตร์

In [ ]:
logic = True
print(type(logic))

## Examples 1.1
- ให้กำหนดตัวแปรเก็บข้อมูลส่วนตัว name, age, height, gender และแสดงผลออกมาตาม test case ดังนี้
| Input | Output |
| :--- | :---------- |
| name = "Dam" | My name is Dam. | 
| age = 21 | I'm 21 years old. |
| height = 178.5 | My height is 178.5 cm. |
| food = "Omlet" | My favorite food is Omlet. |

**Final Output**: I’m Dam, 21 years old, 178.5 cm tall, and my favorite food is Omlet.

In [ ]:
# ประกาศตัวแปล
name = "Pancake"
age = 20
height = 165
food = "ส้มตำ"

In [ ]:
print(f"My name is {name}.")
print("I'm {} years old.".format(age))
print("My height is " + str(height) + " cm.")
print(f"My favorite food is {food}.")

**Final Output method 01**

In [ ]:
print(f"I’m {name}, {age} years old, {height} cm tall, and my favorite food is {food}.")

**Final Output method 02**

In [ ]:
print("I’m {}, {} years old, {} cm tall, and my favorite food is {}.".format(name, age, height, food))

---
# Exercise 01 : Print methods + Varibles

ให้กำหนดค่าภายในตัวแปรเก็บข้อมูลต่อไปนี้ คือ day, month, year, weather, mood, marital_status(สถานะการแต่งงาน) และแสดงผลออกมาตาม **Test Case** ดังนี้k
- โดยข้อมูลจะต้องอิงจาก**ปัจจุบัน**เท่านั้น

**Example case**
| Input | Output |
| :--- | :---------- |
| day = "Monday" | Today is Monday | 
| month = "November" | This month is November |
| year = 2025 | and this year is 2025 |
| weather = "cloudy" | the weather is cloudy |
| feel = "happy" | my feeling right now happy  |
| marital_status = True | my marital status is True |

**Final Output**: Today is Monday, this month is November, and this year is 2025. The weather’s cloudy, I’m feeling happy, and yeah—my marital status is True.

In [ ]:
# code here

## 3) Type casting and User Input

- **Type casting** = การแปลงประเภทของตัวแปล จากประเภทหนึ่งไปอีกเป็นประเภทหนึ่ง เช่น ```int``` >>> ```str``` หรือ ```float``` >>> ```int()```

### 3.1) **int** >>> **str**

In [ ]:
num = 10
print(type(num)) # num = 10

In [ ]:
num_change = str(num)
print(type(num_change)) # num = "10"

### 3.2) **float** >>> **int**

In [ ]:
num2 = 12.5251

print("Before:", num2)
print(type(num2))

In [ ]:
num2_change = int(num2)

print("After:", num2_change)
print(type(num2))

### 3.3) **float** >>> **int**

In [ ]:
num3 = 120
print("Before:", num3)
print(type(num3))

In [ ]:
num3_change = float(num3)
print("After:", num3_change)
print(type(num3_change))

### 3.4) User Input

In [ ]:
name = input()

print(name)
print(type(name))

In [ ]:
age = input("Enter: ")

print(age)
print(type(age))

In [ ]:
age2 = int(input("Enter age(int): "))
print(age2)

In [ ]:
age3 = float(input("Enter age(float): "))
print(age3)

In [ ]:
what = bool(input("Enter or not??: "))
print(what)

---
# Exercise 02

ให้ผู้ใช้ (User) **กำหนดค่า** เข้าไปในตัวแปรต่อไปนี้ คือ name, age, gender(`True`=**Female**, `False`=**Male**) และแสดงผลออกมาตาม **Test Case** ดังนี้


**Example case**
| Input | Output |
| :--- | :---------- |
| name = "Dam" | My name is Dam | 
| age = 21 | I'm 21 years old |
| gender = `False` | My gender is False |

**Final Output**: I’m Dam, 21 years old, and my gender is False.

**Hints:** แนะนำให้เขียนcodeทั้งหมดในcellเดียว

In [ ]:
# code here

## 4) Arithmetic & Mathematics

- **x = x + 1** ====> **x += 1** การบวก
- **x = x - 3** ====> **x -= 3** การลบ
- x = x * 5 ====>  x *= 1 การคูณ
- x = x**9 ====> x **= 9 การยกกำลัง 
- **x = x / 10** ====> **x /= 10** การหาร
- **x = x // 20** ====> **x //= 20** การเอาแต่เศษ

**Link 01 =** https://www.w3schools.com/python/python_math.asp

**Link 02 =** https://www.w3schools.com/python/module_math.asp


---
# Exercise 03

ให้เขียนโปรแกรมแปลงค่า Celsius(°C) เป็น Fahrenheit(°F) โดยให้ผู้ใช้(User)กรองค่า Celsius(°C)และแสดงผลออกมาเป็น Fahrenheit(°F)

**Formula**
<center>
$\frac{C}{5} = \frac{F-32}{9}$    
</center>

**Example case**
|Case| Input | Output |
|:--:| :--- | :---------- |
| 1  | C = 0   | F = 32.0 |
| 2  | C = 100 | F = 212.0 |
| 3  | C = 32  | F = 89.6 |

In [5]:
# code here

## 5) If-else statement

**Normal If-else**

In [10]:
gender = "woman" 

if gender == "man":
    print("This is a man.")
else:
    print("I don't konw.")

I don't konw.

**If-elif-else**

In [26]:
num1 = 100

if num1 > 100:
    print("Greater than 100")
elif 100 >= num1 > 50:
    print("Still greater than 50 or maybe 100")
else:
    print("Lower than half")

Still greater than 50 or maybe 100

**Shortcut If-else**

In [13]:
age = 21

result = "adult" if age > 20 else "kid"
print(result)

adult

**If only**

In [17]:
condition = True

if condition:
    print("In 'if' condition")

print("End program")

In 'if' condition
End program

**Switch case**

In [24]:
num2 = 1

match num2:
    case 1:
        print("one")
    case 2:
        print("two")
    case 3:
        print("three")
    case 4:
        print("four")
    case 5:
        print("five")

one

In [23]:
fruit = "banana"

match fruit:
    case "orange":
        print("one")
    case "melon":
        print("two")
    case "lemon":
        print("three")
    case "grapes":
        print("four")
    case "banana":
        print("five")

five

---
# Exercise 04 : Print methods + Varibles

ให้เขียนโปรแกรมโดยให้ ผู้ใช้(User)กรอกคะแนน(score)เข้าไปในโปรแกรมและประมวลผลเกรดออกมาตามเงื่อนไขต่อไปนี้

| Conditions | Output |
| :------: | :---: |
| score > 80 | A | 
| 75 < score < 80 | B+ |
| 70 < score < 75 | B |
| 65 < score < 70| C+ |
| 60 < score < 65| C  |
| 55 < score < 60| D+ |
| 50 < score < 55| D |
| score < 50| F |

In [28]:
# code here